{
  "plugins": [
    "@babel/plugin-syntax-class-properties",
    [
      "styled-components",
      {
        "preprocess": true,
        "minify": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
